$font-title: Montserrat, sans-serif;
$font-main: Roboto, sans-serif;
$red: #ff4e50;
$white: #fff;
$black: #333;
$grey: #ccc;
$color-foot_menu: #666;
$color-input_text: #999;
$color-avatar1: #ff4e50;
$color-avatar2: #ffa507;
$color-avatar3: #1cd7ad;
$color-avatar4: #4e73db;
